<div class="text-white">
{% if cart.item_count > 0 %}
<p class="ta-center">Your Cart</p>
<form action="/cart" method="post" novalidate>
    <div class="cart-lines">
        {% for item in cart.items %}
        {% render 'line-items' with item as item %}
        {% endfor %}
    </div>

    <div class="subtotal-line">
        <p>sub total : {{ cart.total_price | money }}</p>
        <span class="price">{{cart.total_price | money}}</span>
    </div>
    <button type="submit" name="checkout">Checkout</button>
</form>
{% else %}
<p class="cart-empty-text ta-center">
    Your card is empty
</p>
<a href="/" class="button">Kepp shoping</a>
{% endif %}
</div>
