<div class="page-index">
  <div class="index-top wrapper valign-center ta-center">
    <h1>{{'general.shop.description' | t}}</h1>
    <p>{{'general.shop.sub_description' | t}}</p>
  </div>
  
  <div class="index-product wrapper">
    {% for product in collections['frontpage'].products limit:4%}
    {% render 'product-card' with product as product %}
    {% endfor %}
  </div>
</div>

